<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Poker - Connexion</title>
    <style>
        body { font-family: sans-serif; background: #121212; color: white; margin: 0; padding: 20px; }
        .grid { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; max-width: 900px; margin: auto; }
        .card { background: #1e1e1e; padding: 20px; border-radius: 8px; }
        input, textarea { width: 100%; padding: 8px; margin: 5px 0; background: #333; color: white; border: 1px solid #444; box-sizing: border-box; }
        button { background: #ffca28; color: black; border: none; padding: 8px 12px; cursor: pointer; font-weight: bold; border-radius: 4px; }
        .btn-small { padding: 4px 8px; font-size: 12px; margin-left: 5px; }
        .btn-green { background: #4CAF50; color: white; }
        .btn-red { background: #f44336; color: white; }
        .friend-item { display: flex; justify-content: space-between; align-items: center; padding: 10px; border-bottom: 1px solid #333; }
        h3 { border-bottom: 1px solid #444; padding-bottom: 5px; }

    </style>
</head>
<body>
    
    <div style="text-align: rigth; max-width: 900px; margin: 0 auto 20px;">
        <button onclick="logout()">Se déconnecter</button>
    </div>

    <div style="text-align: left; max-width: 900px; margin: 0 auto 20px;">
        <button onclick="back()">Retour au profil</button>
    </div>

    <div class="grid">
    
        <div th:if="${!listeDesTables.isEmpty()}">
            <div class="card">
                <div th:each="t : ${listeDesTables}" class="table-card">
                    <h3 th:text="${t.name}">Nom fictif</h3>
                    <p>Valeur grosse blind : <span th:text="${t.minBet}">0</span>€</p>
                    <p>Joueurs : <span th:text="${t.activePlayers.size()}">0</span> / <span th:text="${t.maxPlayers}">6</span></p>
                    <textarea class="mise-input" rows="1" placeholder="Votre mise"></textarea>
                    <button th:onclick="|joinTable(event, ${t.id}, ${t.minBet})|">Jouer</button>
                    <!-- <button th:onclick="'joinTable(this, ' + ${t.id} + ')'">Jouer</button> -->
                    <!-- <a th:href="@{/game/join(id=${t.id})}" class="btn-rejoindre">Rejoindre la table</a> -->
                </div>
            </div>
        </div>
        
        <div class="card">
            <h3>Jouer</h3>
            <div>
                <br><textarea id="nom-table" rows="1" placeholder="Nom de la table"></textarea></br>
                <br><textarea id="mise-table" rows="1" placeholder="Mise minimal de la table"></textarea></br>
                <select name="taile table" id="t-table">
                    <option value="">--Veuillez choisir le nombre de joueurs--</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>

                <button type="button" onclick="creeTable()">Creer une Table</button>
            </div>
        </div>
    </div>

    <p th:if="${listeDesTables.isEmpty()}">Aucune table disponible pour le moment.</p>
    

<script>
    const token = localStorage.getItem('poker_token');
    if (!token) window.location.href = "index.html"; // Sécurité : retour au login si pas de token
    const headers = { 'Authorization': `Bearer ${token}`, 'Content-Type': 'application/json' };


    function logout() {
        localStorage.removeItem('poker_token');
        window.location.href = "index.html";
    }
    function back() {
        window.location.href = "profil.html";
    }

    function createTable() {
        // Ajoute .value à la fin !
        const tableName = document.getElementById('nom-table').value;
        const miseMin = parseFloat(document.getElementById('mise-table').value);
        const tailleTable = document.getElementById('t-table').value;

        if(!tableName || isNaN(miseMin)) {
            alert("Remplissez les champs correctement");
            return;
        }
    
        console.log("Création de la table...", {tableName, miseMin, tailleTable});

        // dans DTO manager : rajouter une requete
        // dans game controleur : rajouter une fonction
    }


    async function joinTable(event, tableId, miseMin) {
        if (event) event.preventDefault();

        // On récupère le bouton sur lequel on a cliqué
        const bouton = event.target;
        // On cherche le textarea avec la classe 'mise-input' qui est juste à côté du bouton
        const miseInput = bouton.parentElement.querySelector('.mise-input');
        const mise = parseFloat(miseInput.value);

        if (isNaN(mise) || mise < miseMin*5) {
            alert("Veuillez entrer une mise valide, au moins 5 grosse blind");
            return;
        }
        // 1. On attend la récupération des données
        const infoJoueur = await getData(); 
        if (!infoJoueur) return; // Sécurité si getData échoue
        // 2. Vérification du solde
        if (mise <= infoJoueur.soldeData) {
            // 3. Envoi de la requête au serveur


            // changer ici se connecter au game controleur pour lui faire une requete
            try {
                const response = await fetch('/join', {
                    method: 'POST',
                    headers: headers,
                    body: JSON.stringify({
                        tableId: tableId,
                        playerId: infoJoueur.playerId,
                        playerName: infoJoueur.playerName,
                        initialStack: mise,
                        seatNumber: infoJoueur.seatNumber
                    })
                });

                if (response.ok) {
                    window.location.href = "/table.html?id=" + tableId; // verifier le lien.
                } else {
                    alert("Erreur lors de l'accès à la table");
                }
            } catch (err) {
                console.error("Erreur réseau :", err);
                
            }
        } else {
            alert("Solde insuffisant");
        }
    }

    async function getData() {
        try {
            const resP = await fetch('/api/profils/me', { headers });
            if (!resP.ok) throw new Error("Erreur profil");

            const profil = await resP.json();
            const resS = await fetch('/api/portefeuille/mon-solde', { headers });
            const soldeDataJoueur = await resS.json();

            // On retourne un objet structuré
            return {
                playerName: profil.login,
                playerId: profil.id,
                soldeData: soldeDataJoueur.solde, // Vérifie bien le nom du champ dans ton JSON
                seatNumber: 1
            };
        } catch (e) {
            console.error("Erreur lors de la récupération des données :", e);
            return null;
        }
    }

    // async function joinTable(event, tableId) {
    //     // test
    //     //window.location.href = window.location.origin  + "/profil.html";


    //     // rediriger vers la table 

    //     const mise = parseFloat(miseInput.value);
    //     if (isNaN(mise) || mise <= 0) {
    //         alert("Veuillez entrer une mise valide");
    //         return;
    //     }
    //     const infoJoueur = await getData();

    //     // utiliser ca comme requete : public record JoinRequestDTO(int tableId, long playerId, String playerName, double initialStack, int seatNumber) 

        
    //     if (mise < infoJoueur.soldeData) {
    //        JoinRequestDTO(tableId, infoJoueur.playerId, infoJoueur.playerName, mise, infoJoueur.seatNumber);
    //     } else {
    //         alert("sold insuffisant");
    //     }

    // }

    // async function getData() {
    //     try {
    //         // Profil
    //         const resP = await fetch('/api/profils/me', { headers });
    //         const profil = await resP.json();
    //         const playerName= profil.login;
    //         const playerId= profil.id;

    //         const soldeData = profil.solde;

    //         const seatNumber = 1; // voir comment le trouver

    //         return { playerId, playerName, soldeData, seatNumber };

    //         } catch (e) {
    //         console.error("Erreur", e);
    //     }
        
    // }
      
            

        //     // utiliser ca comme requete : public record JoinRequestDTO(int tableId, long playerId, String playerName, double initialStack, int seatNumber) 
        //     // tester quand l'autre partie sera ok 
        
        //     window.location.href = "profil.html";


</script>
</body>
</html>